<div id="<%= dom_id store %>">
  <p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= store.location %>
  </p>

  <p>
    <strong>Coordinates:</strong>
    <%= store.coordinates %>
  </p>

</div>
