<h1>Editing shopping selection</h1>

<%= render "form", shopping_selection: @shopping_selection %>

<br>

<div>
  <%= link_to "Show this shopping selection", @shopping_selection %> |
  <%= link_to "Back to shopping selections", shopping_selections_path %>
</div>
