<style></style>

<div class="flex">
  <div></div>
  <div class="minimap">
    <!-- Onclick, scrollIntoView() the relevant section; then set `open` on the details/summary; insert a turboframe to async load  -->
    <!-- CSS fade effect between sections? -->
    <!-- Some sort of indication that it is a preview with an option to view a full page -->
    <p>Shopping List Generator</p>
    <p>Best Deals</p>
    <p>All Grocery Prices</p>
  </div>
</div>

<div>
  <div>
    <img src="" title="thumbnail" />
    <div>Chart</div>
  </div>
  <div>
    <div>
      <label>How much spend?</label>
      <input type="number">
    </div>
    <div>
      <label for="">What you need?</label>
      <input type="text" name="" id="">
      <div class="grocery-grid">
      </div>
    </div>
  </div>
</div>