<div style="display: grid; grid-template-columns: 1fr 5fr;">
  <div class="sidebar">
    <p>Shopping List Generator</p>
    <p>Best Deals</p>
    <p>All Grocery Prices</p>
  </div>

  <div>
    <div>
      <img src="" title="thumbnail" />
      <div>Chart</div>
    </div>
    <div>
      <div>
        <label>How much spend?</label>
        <input type="number">
      </div>
      <div>
        <div class="grocery-grid">
          <%= render('partials/basket') %>
        </div>
      </div>
    </div>
  </div>
</div>