
<div>
  <img src="" title="thumbnail" />
  <%= render('partials/basket') %>
</div>

<footer>
  <a href="https://icons8.com/icon/9gYPgyVfWWyJ/shopping-cart">Shopping Cart icon by Icons8</a>
  <a href="https://icons8.com/icon/YNnQ8ooLP8Wb/prices">Prices icon by Icons8</a>
</footer>