<p style="color: green"><%= notice %></p>

<h1>Pipelines</h1>

<div id="pipelines">
  <% @pipelines.each do |pipeline| %>
    <%= render pipeline %>
    <p>
      <%= button_to "Run this pipeline", run_pipeline_path(pipeline) %>
    </p>
  <% end %>
</div>

<%= link_to "New pipeline", new_pipeline_path %>
