<div id="<%= dom_id shopping_list %>">
  <p>
    <strong>Recommend store:</strong>
    <%= shopping_list.recommend_store_id %>
  </p>

  <p>
    <strong>Alternate store:</strong>
    <%= shopping_list.alternate_store_id %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= shopping_list.total_price %>
  </p>

</div>
